<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/addBook">Adicionar Livro</a><br>
    <a href="/addLoaner">Adicionar Leitor</a><br>
    <a href="/listBooks">Listar Livros</a><br>
    <a href="/loanedBooks">Listar Livros Emprestados</a><br>
    <a href="/loaners">Listar Leitores</a><br>
    <a href="/loanBook">Emprestar Livro</a><br>
   
    <form method="post" action="/addBook">
        <label>Nome do Livro:</label>
        <input type="text" name="bookName">
        <br>
        <label>Nome do Autor:</label>
        <input type="text" name="bookAuthor">
        <br>
        <label>Tema do Livro</label>
        <input type="text" name="bookTheme">
        <br>            
        <label>Ano de Lançamento</label>
        <input type="text" name="bookYear">
        <br>
        <button type="submit">Cadastrar Livro</button>
    </form>
</body>
</html>