<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/addBook">Add Book</a><br>
    <a href="/addLoaner">Add Loaner</a><br>
    <a href="/listBooks">List Books</a><br>
    <a href="/loanedBooks">List Loaned Books</a><br>
    <a href="/loaners">List Loaners</a><br>
    <a href="/loanBook">Loan book</a><br>
    <a href="/logout">Logout</a><br><p><br>
        
    <form method="post" action="/addLoaner">
        <label>Name</label>
        <input type="text" name="loanerName">
        <br>
        <label>Phone</label>
        <input type="text" name="loanerPhone">
        <br>
        <label>Address</label>
        <input type="text" name="loanerAddress">
        <br>            
        <button type="submit">Cadastrar Locatário</button>
    </form>
</body>
</html>