<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/loanBook">
        <label>Nome do Livro: </label>
        <select name="bookSelector">
            <% books.forEach((book) => { %>
                <option><%= book.bookName %> </option>
            <% }) %> 
        </select>
        <br>
        <label>Nome do Locatário:</label>
        <select name="loanerSelector">
            <% loaners.forEach((loaner) => { %>
                <option><%= loaner.loanerName %> </option>
            <% }) %> 
        </select>
        <button type="submit">Alocar</button>
    </form>
</body>
</html>